/* -------------------------
   ROOT VARIABLES
--------------------------*/

:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #e9c46a;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46b;
    /* light golden yellow */
    --dark-gray-color: #333333;
    /* for all text unless otherwise specified */

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

    --max-width: 840px;

    --spacing: 8px;
    /* shared spacing value */

    --radius: 5px;
    /* rounded corner value */
}

/* -------------------------
   GLOBAL RESET
--------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* -------------------------
   TYPOGRAPHY
--------------------------*/

body {
    font-family: var(--body-font);
    color: var(--dark-gray-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    margin-top: var(--spacing);
}

/* -------------------------
   PAGE LAYOUT
--------------------------*/

body {
    max-width: var(--max-width);
    margin: 0 auto;
    /* auto centers each element horizontally)*/
}

p,
article {
    margin: var(--spacing);
    padding: var(--spacing);
}

h2 {
    padding: .5rem 0
}

/* -------------------------
   HEADER
--------------------------*/

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header img {
    width: 120px;
}

/* styles the <nav > box */
header nav {
    justify-self: center;
    width: 100%;
    max-width: 400px;
}

/* styles the row with the <ul> inside the <nav> box*/
.header-navigation {
    display: flex;
    /* default */
    list-style: none;
    justify-content: space-between;
}

/* styles li as a row to make equal-width “buttons”*/
.header-navigation li {
    flex: 1;
}

/* the actual buttons */
.header-navigation a {
    display: block;
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem;
    color: var(--accent1-color);
    border: 1px solid var(--dark-gray-color);
    background-color: white;
    text-decoration: none;
}

/* -------------------------
   FOOTER
--------------------------*/
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* same colors as header */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

footer::before {
    content: "";
    flex: 1;
}

footer p {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

footer nav {
    margin: 0;
}

.socialmedia {
    display: flex;
    flex: 1;
    gap: .5rem;
    justify-content: flex-end;
}

/* social media icons */
.socialmedia img {
    width: 30px;
    height: auto;
    margin: 4px;
}

/* -------------------------
   HERO SECTION
--------------------------*/

.hero {
    position: relative;
}

.hero img {
    display: block;
    /* changes img from the default inline element
       (behaving like text in a line)
       to a block-level element
       (starts on a new line, takes full width available) */

    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 300px;
    left: 20px;
    right: 20px;
    border-radius: var(--radius);
    text-align: justify;
    background-color: var(--accent2-color);
    opacity: .8;
}

.hero article img {
    float: right;
    width: 100px;
    margin: 3px 0 0 16px;
}

/* -------------------------
   HISTORY & ADVENTURE SECTIONS
--------------------------*/
.history,
.adventure {
    border: 2px solid var(--primary-color);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%
}

.three-columns {
    display: flex;
    align-items: center
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery figure {
    flex: 1;
    /* equal width columns */
    text-align: center;
}

/* make the image fit its container, but don’t distort it. */
.gallery img {
    width: 80%;
    height: auto;
}