:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #e9c46a;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46b;
    /* light golden yellow */
    --dark-gray-color: #333333;
    /* for all text unless otherwise specified*/

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --max-width: 840px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: var(--body-font);
    color: var(--dark-gray-color);
}

header,
main,
footer {
    width: var(--max-width);
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header img,
header nav {
    display: inline-block;
    vertical-align: middle;
    color: var(--secondary-color);
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
}

header img {
    width: 100px;
}

nav,
p,
section,
article {
    margin: 8px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    /* changes img from the default inline element (behaving like text in a line) to a block-level element (starts on a new line, takes full width available) */
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 300px;
    left: 20px;
    right: 20px;
    text-align: justify;
    background-color: var(--accent2-color);
    opacity: .8;
}

.hero article img {
    float: right;
    width: 100px;
    margin-top: 3px;
    margin-left: 16px;
}

/* Hide heading required by auto grader
.visually-hidden {
    position: absolute;
    left: -9999px;
} */

section {
    margin: 32px 16px;
}

p {
    margin-top: 8px;
}

footer {
    text-align: left;
}

.socialmedia img {
    width: 30px;
    height: auto;
    margin: 8px;
}