* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

:root {
    max-width: 840px;
    --color-1: steelblue;
}

/* header {
    outline: 2px solid yellow;
}

main {
    outline: 2px solid red;
}

footer {
    outline: 2px solid brown;
}

aside {
    outline: 2px solid blue;
}

nav {
    outline: 2px solid green;
} */

nav {
    background-color: var(--color-1);
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: var(--color-1);
    padding: .5rem;
}

main {
    margin-left: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color-1);
    padding: 1px;
    margin: 5px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

ul {
    margin: 17px;
}

aside {
    position: relative;
    width: 320px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 10px;
    right: 50px
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1pc solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}